[gcode_macro HOMING_CONFIG]
variable_order: "x,y,z"
#variable_dowith_z: "x,y"
variable_start_zhop: 5
gcode:
  # RESPOND PREFIX="info" MSG="Homing config..."

[gcode_macro HOMING_OVERRIDE_BEFORE]
gcode:
  # RESPOND PREFIX="info" MSG="Homing > Before homing: {params.X} - {params.Y} - {params.Z}"
  {% if printer['gcode_macro HOMING_NOW'].do_x|int==0 and printer['gcode_macro HOMING_NOW'].do_y|int==0 and printer['gcode_macro HOMING_NOW'].do_z|int==1 %}
    # do nothing
  {% else %}
    {% if printer['gcode_macro HOMING_OVERRIDE_ZHOP'] is defined %}
        HOMING_OVERRIDE_ZHOP
    {%endif%}
    {% if printer['gcode_macro HOMING_CONFIG'].start_zhop is defined and printer['gcode_macro HOMING_CONFIG'].start_zhop|int>0 %}
      {% if printer['gcode_macro HOMING_STATUS'].z|int == 0 %}
        # RESPOND PREFIX="info" MSG="Home > Fake homing Z so it can move down prior to homing"
        SET_KINEMATIC_POSITION Z=0
        ## {printer['gcode_macro HOMING_CONFIG'].start_zhop|int}
      {% endif %}
      {% if printer.toolhead.position.z|float<printer['gcode_macro HOMING_CONFIG'].start_zhop|float %}
        # RESPOND PREFIX="info" MSG="Home > Moving up {printer['gcode_macro HOMING_CONFIG'].start_zhop} mm before homing"
        G91
        G1 Z{printer['gcode_macro HOMING_CONFIG'].start_zhop|float}
        G90
      {% endif %}
    {% endif %}
  {% endif %}



[gcode_macro HOMING_OVERRIDE_X]
gcode:
  # RESPOND PREFIX="info" MSG="Homing > X"
  G90
  G28.1 X0
  G91
  G1 X-5 F2000
  G90

  
[gcode_macro HOMING_OVERRIDE_Y]
gcode:
  # RESPOND PREFIX="info" MSG="Home > Y"
  G90
  G28.1 Y0
  G91
  G1 Y-5 F2000
  G90

[gcode_macro HOMING_OVERRIDE_Z]
gcode:
  {% set PARK = params.PARK|default('TRUE')|string %}
  {% if printer['gcode_macro HOMING_STATUS'].z|int == 0 %}
    # RESPOND PREFIX="info" MSG="Home > Fake homing Z so it can move down prior to homing"
    SET_KINEMATIC_POSITION Z=0
  {% endif %}
  # RESPOND PREFIX="info" MSG="Homing > Z"
  {% if printer['gcode_macro HOMING_STATUS'].x|int != 1 %}
    HOMING_OVERRIDE_X
    SET_GCODE_VARIABLE MACRO=HOMING_STATUS VARIABLE=x VALUE=1
  {% endif %}

  {% if printer['gcode_macro HOMING_STATUS'].y|int != 1 %}
    HOMING_OVERRIDE_Y
    SET_GCODE_VARIABLE MACRO=HOMING_STATUS VARIABLE=y VALUE=1
  {% endif %}

  _ATTACH_PROBE RETURN_TO_POSITION=FALSE
  G1 X90 Y207 F5000
  G1 X90 Y223.5 F2500
  G1 X114.5 Y223.5 F2500
  # G1 X{printer["gcode_macro _BED_SIZE"].bed_size[0] / 2} Y{printer["gcode_macro _BED_SIZE"].bed_size[1] / 2} F5000

  G28.1 Z0
  G91
  G1 Z20 F5000
  G90

  _DOCK_PROBE RETURN_TO_POSITION=FALSE
  {% if PARK|upper == 'TRUE' %}
    PARK
  {% endif %}



# [gcode_macro HOMING_OVERRIDE_AFTER]
# gcode:
#   RESPOND PREFIX="info" MSG="Homing > After homing: {params.X} - {params.Y} - {params.Z}"

# [gcode_macro HOMING_OVERRIDE_ZHOP]
# gcode:
#   RESPOND PREFIX="info" MSG="Homing > Z Hop"
#   SET_KINEMATIC_POSITION Z=0
#   G91
#   G0 Z{printer['gcode_macro HOMING_CONFIG'].start_zhop|int}
#   G90


[gcode_macro PARK]
description: Move the Print-Head to the top right position and move the bed down a bit to park
gcode:
  {% set VELOCITY = params.VELOCITY|default(5000)|int %}
  {% set VOLUME = params.VOLUME|default(0)|int %}
  {% set MOTORS_OFF = params.MOTORS_OFF|default('FALSE')|string %}
  {% set HEATERS_OFF = params.HEATERS_OFF|default('FALSE')|string %}
  {% set FANS_OFF = params.FANS_OFF|default('FALSE')|string %}

  G28 X0 Y0 Z0

  G90
  G1 X{params.X|default(printer["gcode_macro _PARK_VARIABLES"].park_pos[0])|float} Y{params.X|default(printer["gcode_macro _PARK_VARIABLES"].park_pos[1])|float} Z{params.X|default(printer["gcode_macro _PARK_VARIABLES"].park_pos[2])|float} F{VELOCITY}

  {% if MOTORS_OFF == 'TRUE' %}
    MOTORS_OFF
  {% endif %}

  {% if HEATERS_OFF == 'TRUE' %}
    HEATERS_OFF
  {% endif %}

  {% if FANS_OFF == 'TRUE' %}
    FANS_OFF
  {% endif %}
  
  M300 V{VOLUME} A3

[gcode_macro CENTER]
gcode:
  {% set Z = params.Z|default(50)|float %}
  {% set VELOCITY = params.VELOCITY|default(5000)|int %}
  {% set VOLUME = params.VOLUME|default(0)|int %}
  {% set MOTORS_OFF = params.MOTORS_OFF|default('FALSE')|string %}
  {% set HEATERS_OFF = params.HEATERS_OFF|default('FALSE')|string %}
  {% set FANS_OFF = params.FANS_OFF|default('FALSE')|string %}

  G28 X0 Y0 Z0

  G90
  G1 X{printer["gcode_macro _BED_SIZE"].bed_size[0] / 2} Y{printer["gcode_macro _BED_SIZE"].bed_size[1] / 2} Z{Z} F{VELOCITY}

  {% if MOTORS_OFF|upper == 'TRUE' %}
    MOTORS_OFF
  {% endif %}

  {% if HEATERS_OFF|upper == 'TRUE' %}
    HEATERS_OFF
  {% endif %}

  {% if FANS_OFF|upper == 'TRUE' %}
    FANS_OFF
  {% endif %}
  
  M300 V{VOLUME} A3