[gcode_macro START_PRINT]
description: Pre-Heat the bed and the nozzle, reset Feedrate and Flowrate, home all axes and clean the nozzle
gcode:
  {% set Z_OFFSET = 0.00 %} # 0.15
  {% set INTELLIGENT_MESH_LOAD = 1 %}

  {% set VOLUME = params.VOLUME|default(1000)|int %}

  {% set FORCE_LIGHT = params.FORCE_LIGHT|default('OFF')|string %}
  {% set ENABLE_BOT_LIGHT = params.ENABLE_BOT_LIGHT|default('ON')|string %}

  {% set PURGE_LINE = params.PURGE_LINE|default('TRUE')|string %}
  {% set DOUBLE_LINE = params.DOUBLE_LINE|default('FALSE')|string %}

  {% set FORCE_HOME = params.FORCE_HOME|default('TRUE')|string %}

  {% set BED_MESH = params.BED_MESH|default('FALSE')|string %}
  {% set FORCE_MESH = params.FORCE_MESH|default('TRUE')|string %}
  {% set ADAPTIVE_MESH = params.ADAPTIVE_MESH|default('FALSE')|string %}
  {% set BED_MESH_PROFILE = params.BED_MESH_PROFILE|default('default')|string %}

  {% set SOAK_TIME = params.SOAK_TIME|default(60)|int %}
  {% set BED_PRE_HEAT_OFFSET = params.BED_PRE_HEAT_OFFSET|default(15)|int %}

  {% set SLICER_Z_OFFSET = params.Z_OFFSET|default(0.00)|float %}

  {% set USE_FILAMENT_PID_PROFILE = params.FILAMENT_PID_PROFILE|default('TRUE')|string %}
  {% set FILAMENT_PROFILE = params.FILAMENT_PROFILE|default('none')|string %}

  {% set FIRMWARE_RETRACT = params.FIRMWARE_RETRACT|default('FALSE')|string %}

  {% set BRIM = params.BRIM|default(0)|int %}
  {% set SKIRTS = params.SKIRTS|default(0)|int %}

  {% set FL_SIZE = params.SIZE|default("0_0_0_0")|string %}

  {% if BED_MESH == 'TRUE' and ADAPTIVE_MESH == 'TRUE' %}
    {% set PURGE_LINE = 'FALSE' %}
  {% endif %}
  
  {% if BRIM > 5 %}
    {% set PURGE_LINE = 'FALSE' %}
  {% endif %}
  
  {% if SKIRTS > 3 %}
    {% set PURGE_LINE = 'FALSE' %}
  {% endif %}

  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(215)|float %}

  {% if 'RETRACTION_AMOUNT' in params|upper %}
    {% set RETRACTION_AMOUNT = params.RETRACTION_AMOUNT|float %}
  {% else %}
    {% set RETRACTION_AMOUNT = 0|float %}
    {% set FIRMWARE_RETRACT = 'TRUE'|string %}
  {% endif %}

  {% if 'RETRACTION_SPEED' in params|upper %}
    {% set RETRACTION_SPEED = params.RETRACTION_SPEED|float * 60 %}
  {% else %}
    {% set RETRACTION_SPEED = 0|float %}
    {% set FIRMWARE_RETRACT = 'TRUE'|string %}
  {% endif %}

  RUN_SHELL_COMMAND CMD=TELEGRAM_BOT_RESTART

  LOOKUP_PID_PROFILE FILAMENT_PROFILE={FILAMENT_PROFILE} BED_TEMP={BED_TEMP} EXTRUDER_TEMP={EXTRUDER_TEMP} USE_FILAMENT_PID_PROFILE={USE_FILAMENT_PID_PROFILE} VERBOSE=low

  {% if ENABLE_BOT_LIGHT|upper == 'ON' %}
    SET_GCODE_VARIABLE MACRO=LIGHT VARIABLE=disable_slicer value=0
  {% else %}
    SET_GCODE_VARIABLE MACRO=LIGHT VARIABLE=disable_slicer value=1
  {% endif %}

  {% if printer['gcode_macro NOZZLE_LIGHT'].value|int != 0 or FORCE_LIGHT|upper == 'ON' %}
    {% set BASE_TEMP = printer.heater_bed.temperature %}
    SET_LED_TEMPLATE LED=Toolhead TEMPLATE=bed_heat INDEX=1,3 param_target_temp={BED_TEMP} param_base_temp={BASE_TEMP}
  {% elif printer['gcode_macro STATUS_LIGHT'].value|int != 0 %}
    {% set BASE_TEMP = printer.heater_bed.temperature %}
    SET_LED_TEMPLATE LED=Toolhead TEMPLATE=bed_heat INDEX=2 param_target_temp={BED_TEMP} param_base_temp={BASE_TEMP}
  {% endif %}

  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}

  M117 Starting up
  BED_MESH_CLEAR
  CLEAR_PAUSE
  M220 S100 ;Reset Feedrate
  M221 S100 ;Reset Flowrate

  M117 Homing
  {% if FORCE_HOME == 'TRUE' %}
    G28 P0
  {% else %}
    G28 X0 Y0 Z0 P0
  {% endif %}
  
  {% if BED_MESH|upper == 'FALSE' %}
    RESPOND MSG="Using Bed Mesh Profile {BED_MESH_PROFILE}"
    BED_MESH_PROFILE LOAD={BED_MESH_PROFILE} INTELLIGENT={INTELLIGENT_MESH_LOAD}
  {% endif %}

  G90
  {% if printer["gcode_macro _PURGE_LINE_VARIABLES"].safe_z is defined %}
    G0 Z{printer["gcode_macro _PURGE_LINE_VARIABLES"].safe_z} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].default_f}
  {% endif %}
  G0 X{printer["gcode_macro _PURGE_LINE_VARIABLES"].heat_up_pos[0]} Y{printer["gcode_macro _PURGE_LINE_VARIABLES"].heat_up_pos[1]} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].default_f}
  G0 Z{printer["gcode_macro _PURGE_LINE_VARIABLES"].heat_up_pos[2]} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].default_f}

  M117 Heating up

  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP}

  # Set and wait for nozzle to reach temperature
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP}

  # Zero Extruder
  G92 E0

  {% if BED_TEMP > 0 %}
    {% for i in range(SOAK_TIME) %}
      {% set remaining = SOAK_TIME - i %}
      M117 Start in {"%02d:%02d" % (remaining // 60, remaining % 60)}
      G4 P1000
    {% endfor %}
  {% endif %}

  {% if BED_MESH|upper == 'TRUE' %}
    {% if ADAPTIVE_MESH|upper == 'TRUE' %}
      {% set PURGE_LINE = 'FALSE' %}
      M117 Leveling
      RESPOND MSG="Generating adaptive Bed Mesh"
      ADAPTIVE_BED_MESH SIZE={FL_SIZE} FORCE_MESH={FORCE_MESH}
    {% else %}
      M117 Leveling
      RESPOND MSG="Generating new Bed Mesh"
      BED_MESH_CALIBRATE PROFILE=print
    {% endif %}
  {% endif %}

  SET_GCODE_OFFSET Z={SLICER_Z_OFFSET + Z_OFFSET}

  {% if printer['gcode_macro NOZZLE_LIGHT'].value|int != 0 or FORCE_LIGHT|upper == 'ON' %}
    SET_LED_TEMPLATE LED=Toolhead TEMPLATE="" INDEX=1,3
    NOZZLE_LIGHT value=1
  {% elif printer['gcode_macro STATUS_LIGHT'].value|int != 0 %}
    SET_LED_TEMPLATE LED=Toolhead TEMPLATE="" INDEX=2
    STATUS_LIGHT value=1
  {% endif %}
  M117 Printing

  M83
  G1 E2 F2700
  M82

  {% if PURGE_LINE|upper == 'TRUE' %}
    # Move to start position
    G0 Z{printer["gcode_macro _PURGE_LINE_VARIABLES"].start_z} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].start_f}
    G91
    G0 X{printer["gcode_macro _PURGE_LINE_VARIABLES"].start_move_x} Y{printer["gcode_macro _PURGE_LINE_VARIABLES"].start_move_y} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].start_move_f}
    G90

    # Move the Z Axis up
    G0 Z{printer["gcode_macro _PURGE_LINE_VARIABLES"].line_height}
    # Draw the first line
    G91
    G1 X{printer["gcode_macro _PURGE_LINE_VARIABLES"].first_line_x} Y{printer["gcode_macro _PURGE_LINE_VARIABLES"].first_line_y} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].first_line_f} E{printer["gcode_macro _PURGE_LINE_VARIABLES"].first_line_e}
    G90
    {% if DOUBLE_LINE|upper == 'TRUE' %}
      # Move to side a little
      G91
      G0 X{printer["gcode_macro _PURGE_LINE_VARIABLES"].second_move_x} Y{printer["gcode_macro _PURGE_LINE_VARIABLES"].second_move_y} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].second_move_f}
      # Draw the second line
      G1 X{printer["gcode_macro _PURGE_LINE_VARIABLES"].second_line_x} Y{printer["gcode_macro _PURGE_LINE_VARIABLES"].second_line_y} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].second_line_f} E{printer["gcode_macro _PURGE_LINE_VARIABLES"].second_line_e}
      G90
    {% endif %}

    {% if FIRMWARE_RETRACT|upper == 'TRUE' %}
      G10
    {% else %}
      M83
      G1 E{RETRACTION_AMOUNT * -1} F{RETRACTION_SPEED}
      M82
    {% endif %}
    # Move Z Axis up
    G0 Z{printer["gcode_macro _PURGE_LINE_VARIABLES"].finish_z} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].finish_f}

    G91
    G0 X{printer["gcode_macro _PURGE_LINE_VARIABLES"].wipe_move_x} Y{printer["gcode_macro _PURGE_LINE_VARIABLES"].wipe_move_y} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].wipe_move_f}
    G90
  {% else %}
    G0 Z{printer["gcode_macro _PURGE_LINE_VARIABLES"].start_z} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].start_f}
    G91
    G0 X{printer["gcode_macro _PURGE_LINE_VARIABLES"].no_purge_move_x} Y{printer["gcode_macro _PURGE_LINE_VARIABLES"].no_purge_move_y} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].no_purge_move_f}
    G90
    G0 Z{printer["gcode_macro _PURGE_LINE_VARIABLES"].finish_z} F{printer["gcode_macro _PURGE_LINE_VARIABLES"].finish_f}
  {% endif %}

  # Reset Extruder
  G92 E0
  M300 V{VOLUME} A3



[gcode_macro END_PRINT]
description: Put the bed in a accessibly position after printing is done
gcode:
  {% set VOLUME = params.VOLUME|default(1000)|int %}
  {% set FORCE_LIGHT = params.FORCE_LIGHT|default('OFF')|string %}

  {% set FIRMWARE_RETRACT = params.FIRMWARE_RETRACT|default('FALSE')|string %}

  {% if 'RED' not in params|upper and 'GREEN' not in params|upper and 'BLUE' not in params|upper and 'WHITE' not in params|upper %}
    {% set RED = 0|int %}
    {% set GREEN = 200|int %}
    {% set BLUE = 0|int %}
    {% set WHITE = 0|int %}
    {% set BRIGHTNESS = 255|int %}
  {% else %}
    {% set RED = params.RED|default(0)|int %}
    {% set GREEN = params.GREEN|default(0)|int %}
    {% set BLUE = params.BLUE|default(0)|int %}
    {% set WHITE = params.WHITE|default(0)|int %}
    {% set BRIGHTNESS = params.BRIGHTNESS|default(255)|int %}
  {% endif %}

  {% if 'RETRACTION_AMOUNT' in params|upper %}
    {% set RETRACTION_AMOUNT = params.RETRACTION_AMOUNT|float %}
  {% else %}
    {% set RETRACTION_AMOUNT = 0|float %}
    {% set FIRMWARE_RETRACT = 'TRUE'|string %}
  {% endif %}

  {% if 'RETRACTION_SPEED' in params|upper %}
    {% set RETRACTION_SPEED = params.RETRACTION_SPEED|float * 60 %}
  {% else %}
    {% set RETRACTION_SPEED = 0|float %}
    {% set FIRMWARE_RETRACT = 'TRUE'|string %}
  {% endif %}

  {% if printer.toolhead.position.x < (printer["gcode_macro _BED_SIZE"].bed_size[0] / 2) %}
    {% set x = 0.5|float %}
  {% else %}
    {% set x = -0.5|float %}
  {% endif %}

  {% if printer.toolhead.position.y < (printer["gcode_macro _BED_SIZE"].bed_size[1] / 2) %}
    {% set y = 0.5|float %}
  {% else %}
    {% set y = -0.5|float %}
  {% endif %}

  M400
  {% if FIRMWARE_RETRACT|upper == 'TRUE' %}
    G10
  {% else %}
    G91
    G1 X{x} Y{y} Z5 E{RETRACTION_AMOUNT * -1} F{RETRACTION_SPEED}
    G90
  {% endif %}

  G91
  G1 X{x} Y{y} Z5 E-2 F2400
  G90

  M117 Done
  HEATERS_OFF

  {% if FORCE_LIGHT|upper == 'ON' %}
    NOZZLE_LIGHT_ON RED={RED} GREEN={GREEN} BLUE={BLUE} WHITE={WHITE} BRIGHTNESS={BRIGHTNESS}
  {% else %}
    IF_ON_SET_NOZZLE_LIGHT RED={RED} GREEN={GREEN} BLUE={BLUE} WHITE={WHITE} BRIGHTNESS={BRIGHTNESS}
  {% endif %}

  M300 V{VOLUME} A3

  G0 X{printer.configfile.settings.stepper_x.position_endstop - 5} Y{printer.configfile.settings.stepper_y.position_endstop - 5} F5000
  TIMELAPSE_TAKE_FRAME
  G0 Z{printer.configfile.settings.stepper_z.position_max - 5} F5000

  G92 E0

  PID_PROFILE LOAD=default HEATER=extruder DEFAULT=default VERBOSE=none
  PID_PROFILE LOAD=default HEATER=heater_bed DEFAULT=default VERBOSE=none

  ALL_OFF
  BED_MESH_CLEAR
  CLEAR_PAUSE
  SET_GCODE_OFFSET Z=0.00
  SET_GCODE_VARIABLE MACRO=LIGHT VARIABLE=disable_slicer value=0
  UPDATE_DELAYED_GCODE ID=TURN_OFF_LIGHT DURATION=15
  UPDATE_DELAYED_GCODE ID=TIMELAPSE_RENDER DURATION=30
  UPDATE_DELAYED_GCODE ID=CLEAR_DISPLAY DURATION=60
  UPDATE_DELAYED_GCODE ID=RESET_FILE DURATION=60


[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
gcode:
    # Parameters
    {% set z = params.Z|default(10)|int %}                                                   ; z hop amount

    {% if printer['pause_resume'].is_paused|int == 0 %}
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE={z}                              ; set z hop variable for reference in resume macro
        SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=etemp VALUE={printer['extruder'].target}    ; set hotend temp variable for reference in resume macro

        #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0                                 ; disable filament sensor
        SAVE_GCODE_STATE NAME=PAUSE                                                          ; save current print position for resume
        PAUSE_BASE                                                                           ; pause print
        {% if (printer.gcode_move.position.z + z) < printer.toolhead.axis_maximum.z %}       ; check that zhop doesn't exceed z max
            G91                                                                              ; relative positioning
            G1 Z{z} F900                                                                     ; raise Z up by z hop amount
        {% else %}
            { action_respond_info("Pause zhop exceeds maximum Z height.") }                  ; if z max is exceeded, show message and set zhop value for resume to 0
            SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=zhop VALUE=0
        {% endif %}
        G90                                                                                  ; absolute positioning
        G0 X{printer["gcode_macro _PARK_VARIABLES"].park_pos[0]} Y{printer["gcode_macro _PARK_VARIABLES"].park_pos[1]} F6000
        SAVE_GCODE_STATE NAME=PAUSEPARK                                                      ; save parked position in case toolhead is moved during the pause (otherwise the return zhop can error)
        SET_HEATER_TEMPERATURE HEATER=extruder                                               ; turn off hotend
        # SET_IDLE_TIMEOUT TIMEOUT=43200                                                     ; set timeout to 12 hours
    {% endif %}

[gcode_macro RESUME]
rename_existing: RESUME_BASE
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    {% set e = params.E|default(2.5)|int %}                                          ; hotend prime amount (in mm)

    {% if printer['pause_resume'].is_paused|int == 1 %}
        #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1                         ; enable filament sensor
        #INITIAL_RGB                                                                 ; reset LCD color
        #SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout} ; set timeout back to configured value
        {% if etemp > 0 %}
            SET_HEATER_TEMPERATURE HEATER=extruder TARGET={etemp|int}                ; wait for hotend to heat back up
            TEMPERATURE_WAIT SENSOR=eytruder MINIMUM={etemp|int}
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSEPARK MOVE=1 MOVE_SPEED=100                     ; go back to parked position in case toolhead was moved during pause (otherwise the return zhop can error)
        G91                                                                          ; relative positioning
        M83                                                                          ; relative extruder positioning
        {% if printer[printer.toolhead.extruder].temperature >= printer.configfile.settings.extruder.min_extrude_temp %}
            G1 Z{zhop * -1} E{e} F900                                                ; prime nozzle by E, lower Z back down
        {% else %}
            G1 Z{zhop * -1} F900                                                     ; lower Z back down without priming (just in case we are testing the macro with cold hotend)
        {% endif %}
        RESTORE_GCODE_STATE NAME=PAUSE MOVE=1 MOVE_SPEED=60                          ; restore position
        RESUME_BASE                                                                  ; resume print
    {% endif %}


[gcode_macro CANCEL_PRINT]
description: Cancel the current running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  {% if printer['pause_resume'].is_paused|int == 0 %}
    END_PRINT RED=200
    CANCEL_PRINT_BASE
  {% endif %}


# Usage: SET_PAUSE_NEXT_LAYER [ENABLE=[0|1]] [MACRO=<name>]
[gcode_macro SET_PAUSE_NEXT_LAYER]
description: Enable a pause if the next layer is reached
gcode:
  {% set pause_next_layer = printer['gcode_macro SET_PRINT_STATS_INFO'].pause_next_layer %}
  {% set ENABLE = params.ENABLE | default(1) | int != 0 %}
  {% set MACRO = params.MACRO | default(pause_next_layer.call, True) %}
  SET_GCODE_VARIABLE MACRO=SET_PRINT_STATS_INFO VARIABLE=pause_next_layer VALUE="{{ 'enable': ENABLE, 'call': MACRO }}"

# Usage: SET_PAUSE_AT_LAYER [ENABLE=[0|1]] [LAYER=<number>] [MACRO=<name>]
[gcode_macro SET_PAUSE_AT_LAYER]
description: Enable/disable a pause if a given layer number is reached
gcode:
  {% set pause_at_layer = printer['gcode_macro SET_PRINT_STATS_INFO'].pause_at_layer %}
  {% set ENABLE = params.ENABLE | int != 0 if params.ENABLE is defined
             else params.LAYER is defined %}
  {% set LAYER = params.LAYER | default(pause_at_layer.layer) | int %}
  {% set MACRO = params.MACRO | default(pause_at_layer.call, True) %}
  SET_GCODE_VARIABLE MACRO=SET_PRINT_STATS_INFO VARIABLE=pause_at_layer VALUE="{{ 'enable': ENABLE, 'layer': LAYER, 'call': MACRO }}"

# Usage: SET_PRINT_STATS_INFO [TOTAL_LAYER=<total_layer_count>] [CURRENT_LAYER= <current_layer>]
[gcode_macro SET_PRINT_STATS_INFO]
rename_existing: SET_PRINT_STATS_INFO_BASE
description: Overwrite, to get pause_next_layer and pause_at_layer feature
variable_pause_next_layer: { 'enable': False, 'call': "PAUSE" }
variable_pause_at_layer  : { 'enable': False, 'layer': 0, 'call': "PAUSE" }
gcode:
  {% if pause_next_layer.enable %}
    {action_respond_info("%s, forced by pause_next_layer" % pause_next_layer.call)}
    {pause_next_layer.call} ; execute the given gcode to pause, should be either M600 or PAUSE
    SET_PAUSE_NEXT_LAYER ENABLE=0
  {% elif pause_at_layer.enable and params.CURRENT_LAYER is defined and params.CURRENT_LAYER|int == pause_at_layer.layer %}
    {action_respond_info("%s, forced by pause_at_layer [%d]" % (pause_at_layer.call, pause_at_layer.layer))}
    {pause_at_layer.call} ; execute the given gcode to pause, should be either M600 or PAUSE
    SET_PAUSE_AT_LAYER ENABLE=0
  {% endif %}
  SET_PRINT_STATS_INFO_BASE {rawparams}
