[duplicate_pin_override]
pins:
  PD12, PB7

[fan_generic Hotend_Fan_IS]
pin: PD12
tachometer_pin: ^PB7
# heater: extruder
# heater_temp: 50.0
min_power: 0.0
max_power: 1.0
# fan_speed: 1.0
cycle_time: 0.00001
hardware_pwm: False
tachometer_ppr: 2
tachometer_poll_interval: 0.0001
# min_rpm: 12500 #100
# max_error: 5
kick_start_time: 0.5
shutdown_speed: 1.0

[gcode_macro TEST_RESONANCES]
rename_existing: TEST_RESONANCES_BASE
gcode:
  SET_FAN_SPEED FAN=Hotend_Fan_IS SPEED=1.0
  TEST_RESONANCES_BASE {rawparams}

[gcode_macro SHAPER_CALIBRATE]
rename_existing: SHAPER_CALIBRATE_BASE
gcode:
  SET_FAN_SPEED FAN=Hotend_Fan_IS SPEED=1.0
  SHAPER_CALIBRATE_BASE {rawparams}
