[gcode_macro _KLICKY_VARIABLES]

# min z value the bed should be at when attaching/docking the probe
# if z is not homed, it will move the bed by the given amount
variable_zhop: 15

# First position the toolhead should move to when approaching the dock(normally the same as position_after)
variable_dock_position_first: 25.25, 222.50

# Second position the toolhead should move to when approaching the dock(normally right in front of the dock)
variable_dock_position_second: -8.00, 222.50

# Position of the dock
variable_dock_position_final: -8.00, 239.00

# Position the toolhead should move to after attaching/docking the probe
variable_dock_position_after: 25.25, 222.50

# In which order should the axis move to attach the probe(y,x means the toolhead will first move the y axis, then the x axis)
variable_attach_probe_order: "y,x"
# In which order should the axis move to dock the probe(y,x means the toolhead will first move the y axis, then the x axis)
variable_dock_probe_order: "x,y"

variable_dock_area: 35, 25

variable_retries: 2


# DO NOT EDIT
# Defines the Version of the variables to prevent compatibility problems
variable_version: 1

gcode:
